<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234671464186-imm45g9bqdneijo59ql5r0btbhi2etbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234671464186-imm45g9bqdneijo59ql5r0btbhi2etbv</string>
	<key>API_KEY</key>
	<string>AIzaSyChUvAGVo9x_Tdta5Etjb7QRScIOw1wo-8</string>
	<key>GCM_SENDER_ID</key>
	<string>234671464186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Firebace.Memory</string>
	<key>PROJECT_ID</key>
	<string>memory-afb90</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-afb90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234671464186:ios:903e553bb1392bd9b07343</string>
	<key>DATABASE_URL</key>
	<string>https://memory-afb90-default-rtdb.firebaseio.com</string>
</dict>
</plist>